.services{
   /* background-image: var(--second-gradient); */

}

.services_item{
  margin-bottom: 52px;
  position: relative;
}

.services_item::before{
  content: '';
  width: 0;
  height: 0;
  background-color: rgb(79, 79, 80);
  position: absolute;
  left: 50%;
  top: 50%;
  transition: all .6s ease-in-out;
  color: #fff;
  z-index: -1;
}

.services_item:hover.services_item::before{
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.light-theme .services_item::before{
  color: var(--primary-color);
  background-color: gainsboro;
}

.services_subtitle{
  color: var(--text-color);
  font-size: var(--normal-font-size);
  font-weight: 700;
  margin-bottom: 50px;
  display: block;
}

.services_title{
  font-size: var(--h4-font-size);
  margin-bottom: 15px;
  color: var(--primary-color);
  transition: all .5s ease-in-out;

}

.services_description{
  min-height: 175px;
}

.swiper-pagination-bullet{
  background-color: var(--primary-color);
}
