.home {
  background-image: var(--first-gradient);
  padding-bottom: 180px;
}

.home,
.home_wrapper .home_container {
  position: relative;
}

.home_wrapper {
  min-height: 100vh;
  display: grid;
  align-items: center;
}

.home_container {
  width: 100%;
  z-index: 10;
}
.home_subtitle,
.home_job {
  font-weight: 700;
}
.home_subtitle,
.home_job span {
  font-size: 20px;
  color: var(--title-color);
}

.home_subtitle span,
.home_title span {
  color: var(--primary-color);
}

.home_subtitle {
  font-size: 20px;
}

.home_job b {
  font-family: var(--second-font);
  font-size: var(--h2-font-size);
  margin-left: 10px;
}

.home_title {
  color: #fff;
  font-size: var(--biggest-font-size);
  text-shadow: 2px 2px hsl(0, 0%, 0%), -2px 2px hsl(0, 0%, 0%),
    2px -2px hsl(0, 0%, 0%), -2px -2px hsl(0, 0%, 0%), 5px 5px rgb(0 0 0 /20%);
  line-height: 1.2;
  margin-top: 15px;
}

.home_text {
  font-size: var(--larger-font-size);
  margin-block: 35px 28px;
  max-width: 520px;
  text-transform: capitalize;
}

.home_social {
  display: flex;
  column-gap: 20px;
  margin-bottom: 30px;
}

.home_social-link {
  color: var(--title-color);
  font-size: var(--h5-font-size);
  transition: all 0.6s var(--transition);
}
.home_social-link:hover {
  color: var(--primary-color);
}

.home_btns {
  display: flex;
  column-gap: 70px;
}

.hero_link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -98%;
  transform: translateY(-50%);
  width: 50px;
  height: 2px;
  background-color: var(--border-color);
}

.home_img-wrapper {
  position: absolute;
  top: 35px;
  right: -60px;
  transform: translateY(-5%);
  width: 100%;
  max-width: 620px;
}

.image_box{
  position: relative;
  z-index: 1;
  background-image: url('../../assets/me1.jpg');
  background-repeat: no-repeat;
  /* background-position:calc(55% + 60px); */
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 8px var(--primary-color);
  order: 1;
  width: 500px;
  height: 500px;
  animation: profile_animate 8s ease-in-out infinite 1s ;
  margin: 0 auto;
}

@keyframes profile_animate{
  0%{
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  50%{
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }

  100%{
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}


.home_data {
  border: 2px solid var(--border-color);
  background-color: var(--container-color);
  box-shadow: var(--shadow);
  padding-inline: 20px;
  width: 250px;
  height: 82px;
  border-radius: 82px;
  display: flex;
  align-items: center;
  gap: 15px;
  position: absolute;
  z-index: 1;
}

.home_data .plus {
  margin-left: 10px;
}

.home_data_one {
  bottom: 7%;
  left: -4%;
}

.home_data_two {
  bottom: 3%;
  right: -4%;
}

.home_data .text-lg .home_data .text-sm {
  width: 50%;
  color: var(--title-color);
  font-weight: 700;
}

.home_data .text-lg {
  font-size: 37px;
  text-align: center;
  font-weight: 600;
}

.home_data .text-sm {
  font-size: 15px;
  line-height: 1.5em;
}

.home_data .text-lg b,
.home_data .text-sm span {
  color: var(--primary-color);
}

.home_data .text-lg b {
  position: relative;
  top: -2px;
}

.shape_1 {
  width: 226px;
  height: 226px;
  top: -6%;
  right: 6%;
}

.home_deco {
  margin-top: 70px;
  height: 60%;
}
