.contact{
  background-image: var(--second-gradient);
}

.contact_container{
  grid-template-columns: 5fr 7fr;
  position: relative;
  z-index: 10;
}

.contact_card{
  padding-left: 130px;
  margin-bottom: 40px;
  position: relative;
}

.contact_card_icon , 
.contact_form_input{
  border: 2px solid var(--border-color);
  background-color: var(--container-color);
}

.contact_card_icon{
  position: absolute;
  top: 0;
  left: 0;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  box-shadow: var(--shadow);
  font-size: var(--largest-font-size);
  display: grid;
  place-items: center;
}

.contact_card_icon::after{
  content: '';
  width: 40px;
  height: 2px;
  background-color: var(--border-color);
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  margin-top: -1px;
}

.contact_card_title{
  font-size: var(--h2-font-size);
  font-family: var(--second-font);
  padding-block: 6px;
}

.contact_form_group{
  grid-template-columns: repeat(2 , 1fr);
  column-gap: 30px;
}

.contact_form_div{
  display: grid;
  row-gap: 10px;
  margin-bottom: 30px;
}

.contact_form_tag{
  margin-left: 30px;
  font-size: var(--smaller-font-size);
  font-weight: 700;
}

.contact_form_tag b{
  color: var(--primary-color);
}

.contact_form_input{
  color: var(--title-color);
  height: 60px;
  border-radius: 30px;
  padding-inline: 30px;
}

.contact_form_area .contact_form_input{
  height: 140px;
  padding-block: 20px;
  resize: none;
}

.contact_submit{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  column-gap: 30px;
  row-gap: 15px;
}