@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;800;900&family=Caveat:wght@700&family=Jost:wght@400;500;600;700;800&family=Lora:wght@400;500;600;700&family=Open+Sans:wght@300;400;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Rubik:wght@300;400;500;600;700;800;900&family=Source+Sans+3:wght@200;300;400;500;600;700;800;900&family=Tilt+Prism&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap');


:root{
  --primary-color: hsl(165 ,60% , 40%);
  --title-color: hsl(0 ,0% , 100%);
  --text-color: hsl(0 ,0% , 92%);
  --bg-color: hsl(216 ,18% , 16%);
  --bg-color-alt: hsl(213 ,10% ,21%);
  --container-color: hsl(217 ,18% , 14%);
  --border-color: hsl(210 ,2% ,65%);
  --first-gradient: linear-gradient(
      0deg , var(--bg-color-alt) 0%, var(--bg-color) 100%);
  
  --second-gradient: linear-gradient(
        180deg , var(--bg-color-alt) 0%, var(--bg-color) 100%);
  
  --third-gradient: linear-gradient(
        180deg , var(--bg-color) 0%, var(--bg-color) 100%);

  --body-font:'Jost', sans-serif ;  
  --second-font: 'Caveat', cursive;
  --biggest-font-size: clamp(2.1875rem, 1.5625rem + 2.8571vw, 4.0625rem);
  --h1-font-size:clamp(1.75rem, 1.4167rem + 1.5238vw, 2.75rem);;
  --h2-font-size:30px;
  --h3-font-size:28px;
  --h4-font-size:24px;
  --h5-font-size:22px;
  --largest-font-size:21px;
  --larger-font-size:20px;
  --large-font-size:18px;
  --normal-font-size:16px;
  --small-font-size:15px;
  --smaller-font-size:14px;
  --tiny-font-size:13px;
  
  --shadow:5px 5px rgb(255 255 255 / 10%);

  --transition: cubic-bezier(0.3 , 0 ,0.3 , 1)
}

.light-theme{
  --title-color: #000;
  --text-color: #262626;
  --bg-color: #f0ebe3;
  --bg-color-alt: #fff;
  --container-color: #FFF;
  --border-color: #000;
  --shadow:5px 5px rgb(0 0 0 / 20%);;
}

.light-theme .skills_bar{
  background: rgba(0,0,0,0.1);
}

.light-theme .skills_percentage{
  background: var(--border-color);
}

.light-theme .skills_percentage span{
  background: var(--primary-color);
}

.light-theme .bg_title{
  color: rgba(0,0,0,0.03);
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px; 
}

::-webkit-scrollbar-thumb {
  background-color: #333; 
  height: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color); 
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button , input , body{
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body{
  color: var(--text-color);
  background-color: var(--bg-color);
}

body.no-scroll{
  overflow: hidden;
}

h1,h2,h3{
  color: var(--title-color);
  font-weight: 700;
}

ul{
  list-style: none;
}

p{
  line-height: 1.7;
}

a{
  text-decoration: none;
}
input , textarea , button{
  border: none;
  outline: none;
  background: transparent;
}

button{
  cursor: pointer;
}

img{
  max-width: 100%;
}

.main{
  overflow: hidden;
}

.container{
  max-width: 1300px;
  padding-inline: 12px !important;
  margin-inline: auto;
}

.grid{
  display: grid;
  gap: 24px;
}

.text-cs{
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.btn , .hero_link{
  color: var(--title-color);
  font-size: var(--tiny-font-size);
  font-weight: 700;
  height: 56px;
  display: grid;
  place-items: center;
  position: relative;
  z-index: 1;
}
.btn{
  border: 2px solid var(--border-color);
  padding-inline: 40px;
  border-radius: 56px;
  box-shadow: var(--shadow);
  position: relative;
  z-index: 1;
}

.btn::before{
  content: '';
  position: absolute;
  inset: 2px ;
  background-color: var(--primary-color);
  border-radius: inherit;
  transform: scale(0.3);
  filter: blur(10px);
  opacity: 0;
  transition: all 0.6s var(--transition);
  z-index: -1;
}

.btn:hover::before{
  transform: scale(1);
  filter: blur(0);
  opacity: 1;
}

.shape{
  position: absolute;
  filter: invert(1);
  opacity: 0.6;
}

.light-theme .shape{
  position: absolute;
  filter: invert(0);
  opacity: 1;
}

.section{
  padding-bottom: 220px;
  position: relative;
}

.section_title , .section_subtitle{
  text-align: center;
}

.section_title{
  font-size: var(--h1-font-size);
}

.section_subtitle{
  color: var(--primary-color);
  font-size: var(--h5-font-size);
  text-transform:uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  margin-bottom: 40px;
}

.section_subtitle span{
  font-family: var(--second-font);
  color: var(--title-color);
  font-size: var(--h3-font-size);
  text-transform: capitalize;
  margin-left: 5px;
}

.card{
  background-color: var(--container-color);
  overflow: hidden;
  text-align: left;
  position: relative;
  z-index: 10;
}

.card_one{
  padding: 30px 35px;
  border-radius: 18px;
}

.card_two{
  padding: 30px;
  border-radius: 20px;
}

.link{
  display: inline-flex;
  align-items: center;
  color: var(--title-color);
  font-weight: 700;
  cursor: pointer;
}

.link_icon{
  color: var(--primary-color);
  margin-left: 20px;
  transition: all .3s var(--transition);

}

.link:hover .link_icon{
  margin-left: 12px;
}

.c_shape{
  right: -24px;
  bottom: -24px;
  width: 141px;
  height: 141px;
}

.section_deco{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 70%;
  background-color: var(--border-color);
  z-index: 3;
}

.deco_right{
  right: 3%; 
}
.deco_left{
  left: 3%; 
}

.section_deco::before,
.section_deco::after{
  content: '';
  position: absolute;
  left: 50%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--bg-color);
  border: 2px solid var(--border-color);
  box-shadow: var(--shadow);
}

.section_deco::before{
  top:0;
  transform: translate(-50% , -100%);
}

.section_deco::after{
  bottom:0;
  transform: translate(-50% , 100%);
}

.section_deco .shape{
  max-width: 226px;
  height: 226px;
  bottom: -200px;
}

.deco_left .shape{
  left: -170px;
}

.deco_right .shape{
  right: -170px;
}

.section_bg_wrapper{
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  user-select: none;
}

.bg_title{
  font-size: clamp(15.625rem, 13.5417rem + 9.5238vw, 21.875rem);
  font-family: var(--second-font);
  font-weight: 700;
  white-space: nowrap;
  line-height: 1;
  color: rgba(255,255,255,0.02);
}